[user]
  name = David Dickson
  email = davidkdickson@gmail.com
[core]
  excludesfile = /Users/daviddickson/.gitignore_global
[color]
  ui = true
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false
[merge]
  tool = Kaleidoscope
[push]
  default = tracking
[alias]
  # log
  l = log --graph --all --pretty=format:'%C(auto)%h -%d%Creset %s %C(dim green)[%cr] %C(bold blue)%an%Creset'
  lna = log --graph --pretty=format:'%C(auto)%h -%d%Creset %s %C(dim green)[%cr] %C(bold blue)%an%Creset'
  ll = l --stat

  # status in short format
  s = status -s

  # add all changes from tracked and untracked
  a = add --all .
  aa = add

  # merge without fast forwarding
  m = merge --no-ff
  mnc = m --no-commit

  # branches
  b = branch
  bl = branch --all

  # committing
  cm = commit -m
  cam = commit -v -a --amend

  # push
  ps = push

  # pull
  pl = pull
  plr = l --rebase

  co = checkout
  cob = checkout -b

  d = diff
  dt = difftool
  dc = d --cached

  # list aliases
  ls = config --get-regexp alias | cut -c 7-
